[submodule "core/twenty-crm"]
	path = core/twenty-crm
	url = https://github.com/lossless-group/twenty-crm.git
[submodule "core/papermark"]
	path = core/papermark
	url = https://github.com/lossless-group/papermark.git
[submodule "core/plunk"]
	path = core/plunk
	url = https://github.com/useplunk/plunk
[submodule "core/postiz-app"]
	path = core/postiz-app
	url = https://github.com/gitroomhq/postiz-app
[submodule "core/karakeep"]
	path = core/karakeep
	url = https://github.com/karakeep-app/karakeep.git
[submodule "hubs/lossless-at"]
	path = hubs/lossless-at
	url = https://github.com/lossless-group/lossless-at.git
[submodule "core/plane"]
	path = core/plane
	url = https://github.com/makeplane/plane.git
